* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-image: url(../images/bkg.jpg);
    color: rgb(255, 255, 255);
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  }
  
  .logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
  }
  
  .menu {
    display: flex;
    gap: 30px;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .menu a:hover {
    color: #00bfff;
  }

  .hamburguer {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  }
  
  .icon-share {
    font-size: 1.2rem;
    cursor: pointer;
  }

  h1 {
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: rgb(231, 136, 98);
  }

  h2 {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    color: rgb(247, 132, 86);
  }

  p {
    margin-top: .5rem;
    margin-left: 2rem;
    margin-bottom: .2rem;
  }

  .citacao {
  font-style: italic;
  font-size: 1.2rem;
  color: #b4c2f8;
  border-left: 4px solid #00bfff;
  padding-left: 1rem;
  margin: 2rem auto;
  max-width: 700px;
  line-height: 1.6;
  border-radius: 5px;
}

  .ODS{
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 2rem auto;
    line-height: 1.6;
    border-radius: 5px;
  }

  .cards{
    background-color: #e4e6ff;
    margin: 1rem auto;
    border-radius: 12px;
    color: #000;
    padding-bottom: 1rem;
  }

  .cards-titulo{
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #fff;
    font-size: 1.2rem;
    padding-left: .9rem;
  }

  table {
    width: 20rem;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  strong {
    color: rgb(243, 133, 90);
  }

  thead {
    background-color: #0f2027;
  }

  .container{
    width: 80%;
    padding-top: 2rem;
    margin: 0 auto;
    background-color: #00000065;
    padding: 1rem;
  }

  .container-tabela{
    width: 60%;
    margin: 0 auto;
    overflow-x: auto;
    border-collapse: collapse;
  }

  .container-tabela th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }

  .container-imagem {
  text-align: center;
}

.container-imagem img {
  max-width: 100%;
  padding-top: 1.5rem;
  height: auto;
}
  
  ul {
    list-style: disc;    
    padding-left: 3.5rem;
  }

  .container-colunas {
    display: flex;
    justify-content: space-between;
    gap: 2rem; 
    padding: 2rem;
  }
  
  .coluna {
    flex: 1;              
    padding: 1rem;
    background-color: #fff; 
    color: #000;            
    border-radius: 8px;     
  }

  /* Responsividade */
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      background-color: #1c2f33;
      position: absolute;
      top: 70px;
      right: 0;
      width: 100%;
      padding: 1rem;
    }
    
      .menu.show {
      display: flex;
    }

    .hamburguer {
      display: block;
    }

    .icon-share {
      margin-left: auto;
    }

    .container-colunas {
        flex-direction: column;
      }

  }